@import "../global";

.hero {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h1 {
        font-size: 4rem;
        text-align: center;
        font-weight: bold;
    }

    &__data {
        font-size: 1.5rem;
    }

    &__tags {

    }
}

.descrizione-evento {
    img {
        width: 100px;
        height: 100px;
    }
}

.prenotazione {

    button {
        margin-right: 2rem;
    }

}