@import "../global";

.hero {

    .fluid-img {
        background-image: url('../../assets/img/hero-fluid-03.png');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;

        opacity: 1; 
        transition: opacity 200ms ease-in-out; 
    }

    .square {
        border-image-slice: 1;
        border-width: 7px;
        border-image-source: linear-gradient(to right, $viola-scuro, $viola-chiaro);

        h1 {
            font-size: 5vw;
            text-align: center;
        }

        .payoff {
            font-size: 1vw;
        }
    }
}

.description-home {
    p {
        font-size: 3rem;
        text-align: center;
    }
}

